#footer {
  background-color: #202C59; 
  color: #FF7B00; 
  padding: 20px;
  text-align: center;
}

#footer p {
  margin-bottom: 10px;
}

#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer li {
  display: inline-block;
  margin-right: 10px;
}

#footer a {
  text-decoration: none;
  color: #00A8E8;
}

#footer a:hover {
  color: #FF7B00; 
}